



<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="dashboard-side">


      <h1>Modifier un article</h1>
      <% if @article.image.attached? %>
        <%= cl_image_tag @article.image.key, width: 200, height: 200 %>
      <% else %>
        <p>Il n'y a pas d'image pour cet article</p>
      <% end %>
      <p><%= @article.title %> </p>
        <%= simple_form_for(@article) do |f| %>


          <%= f.label  'Titre'%>
          <%= f.input :title, label: false%>
          <%= f.label  "Résumé - pour la page d'accueil"%>
          <%= f.input :small_description, label: false%>
          <%= f.label  'Contenu'%>
          <%= f.input :content, label: false, class: "dashboard-new-article-field" %>
          <%= f.label  'Photo'%>
          <%= f.file_field :image, label: false %>
          <%= f.input :visible, label: "Mettre en page d'accueil" %>
          <br>
          <%= f.submit 'Sauvegarder les changements'%>
        <% end %>
  <% end %>
  <br><br><br>
  <%= link_to 'Supprimer cet article', article_path(@article), class: "destroy-session", method: :delete, data: { confirm: "Vous êtes sur le point de supprimer cet article. Etes vous sur ?" } %>





    </div>
  </div>
  <% else %>
    <p>Vous ne pouvez pas accéder à cette page</p>
    <%= link_to 'Accueil', root_path%>

  <% end %>
