


<%# PAGE POUR LES ADMIN %>

<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="dashboard-side">



     <h1>Modifier les articles</h1>

    <% @articles.each do |article| %>
    <%= link_to edit_article_path(article) do  %>
      <p>    <%= article.title %> </p>

    <% end %>
    <% end %>





    </div>
  </div>
















  <% end %>
  <% else %>
  
  <%# PAGE POUR LES UTILISATEURS %>

  <div class="container index-articles">

  <h1>Nos articles</h1>

  <div class="index-articles-grid">
    <% @articles.each do |article| %>
    <div class="index-articles-card">
    <%= link_to article_path(article), class: '' do %>
      <% if article.image.attached? %>
        <%= cl_image_tag article.image.key, class: ''%>
      <% end %>
      <h3><%= article.title %></h3>
      <p><%= article.small_description %></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<% end %>