
<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="dashboard-side">



     <h1>Modifier les textes</h1>

    <% @texts.each do |text| %>
      <h3>    <%= text.name %> </h3>
      <%= simple_form_for(text) do |f| %>
        <%= f.input :content, label: false %>
        <%= f.submit 'Valider la modification' %>
      <% end %>

    <% end %>





    </div>
  </div>
  <% else %>
    <p>Vous ne pouvez pas accéder à cette page</p>
    <%= link_to 'Accueil', root_path%>

  <% end %>
<% end %>