<h1>Recipe#edit</h1>
<p>Find me in app/views/recipe/edit.html.erb</p>

<h1>Recipes#edit</h1>

<% if user_signed_in? %>
  <% if current_user.admin  %>
      <h1>Choisir une nouvelle image pour la recette</h1>
      <p><%= @recipe.title %></p>
        <% if @recipe.image.attached? %>
          <%= cl_image_tag @recipe.image.key, width: 200, height: 200 %>
        <% else %>
          <p>Il n'y a pas d'image pour cette recette</p>
        <% end %>
        <%= simple_form_for(@recipe) do |f| %>
          <%= f.file_field :image %>
          <%= f.submit%>
        <% end %>
  <% end %>

  <%= link_to 'Supprimer cette recette', recipe_path(@recipe), method: :delete, data: { confirm: "Vous êtes sur le point de supprimer cette recette. Etes vous sur ?" } %>
<% end %>
