



<%# PAGE POUR LES ADMIN %>

<% if user_signed_in? %>
  <% if current_user.admin  %>
  <div class="dashboard-container">
    <%= render 'shared/admin_dashboard_nav' %>
    <div class="dashboard-side">



     <h1>Modifier les recettes</h1>

    <% @recipes.each do |recipe| %>
      <%= link_to edit_recipe_path(recipe) do  %>
        <p>    <%= recipe.title %> </p>

      <% end %>
    <% end %>

    </div>
  </div>
















  <% end %>
  <% else %>
  
  <%# PAGE POUR LES UTILISATEURS %>

  <div class="container index-articles" data-aos="fade-up">




  <h1>Nos recettes</h1>

  <p>Chaque semaine, retrouvez une <strong>nouvelle recette</strong> à partir de  <br> nos produits de la mer.</p>

  <div class="index-articles-grid">
    <% @recipes.each do |recipe| %>
    <div class="index-articles-card">
    <%= link_to recipe_path(recipe), class: '' do %>
      <% if recipe.image.attached? %>
        <%= cl_image_tag recipe.image.key, class: 'recipe-image'%>
      <% end %>
      <h3><%= recipe.title %></h3>
      <%= link_to "Voir", recipe_path(recipe), class: 'small-btn'%>
      <% end %>
    </div>
    <% end %>
  </div>
</div>








<% end %>