  <section class="how-to-order">

    <h2>Pour passer commande, c'est simple</h2>
    <div class= 'how-to-order-steps'>
      <div>
        <%= cl_image_tag 'https://www.icone-png.com/png/13/12632.png', class: ''%>
        <h3>1. Prenez connaissance</h3>
        <p>de la selection de la semaine</p>
      </div>
      <div>
        <%= cl_image_tag 'https://www.icone-png.com/png/13/12632.png', class: ''%>
        <h3>2. Reservez votre panier</h3>
        <p>Sur l'application <strong>Casamiam</strong> <br> ou par mail, en précisant chaque article</p>
      </div>
      <div>
        <%= cl_image_tag 'https://www.icone-png.com/png/13/12632.png', class: ''%>
        <h3>3. Venez retirer<br>votre commande </h3>
        <p>en boutique</p>
      </div>
    </div>
  
  </section>

  <section class = 'order-casamiam'>
    <%= cl_image_tag 'https://res.cloudinary.com/debeemobv/image/upload/v1621600909/Seeds/Logo_CM_png_512_u5w2ia.png', class: 'mobile'%>
    <div class= "casamiam-explanation">
      <h2>Casamiam</h2>
      <p>Casamiam est une application. C’est ici que vous pouvez commander nos bons produits. <br> Rendez-vous dans notre boutique Just Fish Poissonnerie</p>
      <div>
        <%= cl_image_tag 'https://res.cloudinary.com/debeemobv/image/upload/v1621602128/Seeds/app-store_tqbrsm.png', class: 'app-logo'%>
        <%= cl_image_tag 'https://res.cloudinary.com/debeemobv/image/upload/v1621602117/Seeds/bouton-google_put4e0.png', class: 'app-logo'%>
      </div>
    </div>

  </section>