<header>
  <%= cl_image_tag @home_image, class: 'homepage-main-picture'%>
  <div class="homepage-logo">
    <h1>Poissonnerie</h1>
    <%= cl_image_tag "https://res.cloudinary.com/debeemobv/image/upload/v1621610775/Seeds/Logo-removebg-preview_semzxt.png", class: ''%>
    <p>La mer près de chez vous</p>
  </div>
</header>


<div class="container homepage">
    <div class =  'main-presentation-homepage'><%= markdown(@presentation_short.content) %></div>

  <% @articles.each do |article| %>
    <section class="homepage-article">
      <%= cl_image_tag article.image.key%>
      <div>
        <h2><%= article.title %></h2>
        <p><%= article.small_description %></p>
        <%= link_to "Lire l'article", root_path, class: 'button cta'%>
      </div>
    </section>
  <% end %>

  <section class="homepage-recipe">
    <div>
      <h2><%= @recipe.title %></h2> 
      <%= link_to "Voir la recette", root_path, class: 'button cta-strong'%>
    </div>
    <%= cl_image_tag @recipe.cover_image.key%>
  </section>

  <div class="weekly-products-presentation">
    <h2 class = 'cursive'>La selection de la semaine</h2>
    <p><%= markdown(@weekly_products_txt.content) %></p>
    <div id="weekly-products"></div>
    <%# L'affichage des produits en grand est dans la navbar. %>
    <%= link_to "Comment passer commande ?", root_path, class: 'button cta-strong'%>
  </div>

    <%= render 'shared/order' %>

  <div class="who-are-we">
    <h2>Qui sommes-nous ?</h2>
    <div class = 'who-are-we-description'>
      <%= markdown(@about_text.content) %>

      <%= cl_image_tag @home_image_about, class: ''%>
    </div>
  </div>


</div>

