<div class="container">
  <h1 class = 'title-products'>Nos produits</h1>

  <div>Pour les produits frais, passez commande au moins 24h en avance. </div>
  <div> Les produits avec une durée de conservation longue peuvent être achetés directement en boutique. <br> </div>

  <%= link_to "Voir la selection de la semaine", root_path, class: 'small-btn'%>

  <div class="product-category">
    <article class="card-product-category ">
      <%= cl_image_tag @poissons_frais%>
      <div>
        <h3>Poissons frais</h3>
        <p><%= @poissons_frais_txt.content %></p>
        <p class = 'detail-order'>Selon arrivage</p>

      </div>
    </article>

    <article class="card-product-category ">
        <%= cl_image_tag @huitres%>
        <div>
          <h3>Huitres</h3>
          <p><%= @huitres_txt.content %></p>
        <p class = 'detail-order'>Selon arrivage</p>
        </div>
    </article>

    <article class="card-product-category ">
        <%= cl_image_tag @coquillages%>
        <div>
          <h3>Coquillages et crustacés</h3>
          <p><%= @coquillages_txt.content %></p>
          <p class = 'detail-order'>Selon arrivage</p>
        </div>
    </article>

    <article class="card-product-category ">
        <%= cl_image_tag @poissons_fumes%>
        <div>
          <h3>Poissons fumés</h3>
          <p><%= @poissons_fumes_txt.content %></p>
          <p class = 'detail-order'>Selon arrivage</p>
        </div>
    </article>
    <article class="card-product-category ">
        <%= cl_image_tag @produits_conditionnes%>
        <div>
          <h3>Produits conditionnés</h3>
          <p><%= @produits_conditionnes_txt.content %></p>
          <p class = 'detail-order'>En boutique</p>
        </div>
    </article>
    <article class="card-product-category ">
        <%= cl_image_tag @produits_surgeles%>
        <div>
          <h3>Produits surgelés</h3>
          <p><%= @produits_surgeles_txt.content %></p>
          <p class = 'detail-order'>En boutique</p>
        </div>
    </article>
    <article class="card-product-category ">
        <%= cl_image_tag @epicerie%>
        <div>
          <h3>Epicerie</h3>
          <p><%= @epicerie_txt.content %></p>
          <p class = 'detail-order'>En boutique</p>
        </div>
    </article>
    <article class="card-product-category ">
        <%= cl_image_tag @alcools%>
        <div>
          <h3>Alcools</h3>
          <p><%= @alcools_txt.content %></p>
          <p class = 'detail-order'>En boutique</p>
        </div>
    </article>
  </div>

  




</div>