<!DOCTYPE html>
<html>
  <head>
    <title>Just Fish - Poissonnerie Valenciennes</title>
    <%= favicon_link_tag 'icon-just-fish.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= meta_description %>">
      <%# /* MAILCHIMP */ %>
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css"> #mc_embed_signup{background:$light-bg; clear:left; font:14px Helvetica,Arial,sans-serif; }</style>


    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= render 'shared/footer' %>

  </body>

</html>
